*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.svg binary
*.wav binary
*.mp3 binary
*.woff2 binary
*.woff binary
*.otf binary
*.ttf binary
*.xcf binary
*.glb binary
*.gltf binary
*.fbx binary
*.obj binary
*.stl binary
*.blend* binary
